<div class="jumbotron">
		<h1 class="display-4">Burgers!</h1>
		<img src="/assets/images/burger.jpg">
</div>

<h2>Enter a Burger You Want to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel-panel default">
				<ul class="list-group">
				{{#each burger}}
					{{#unless this.devour}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{this.name}} </p>
							<span class="input-group-btn">
								<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
									<input type="hidden" name="devour" value="true">
									<button class="btn btn-default btn-lg" type="submit"> DEVOUR IT! </button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
				<ul class="list-group">
				{{#each burger}}
					{{#if this.devour}}
					<li class="list-group-item">
						<p class="lead">{{this.name}} </p>
					</li>
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</div>
	</div>

<div class="col-md-10">
		<form class="create-update-form" action="burgers/create" method="POST">

			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="3"> </textarea>
			</div>

			<button class="btn btn-default btn-lg" type="submit">Submit</button>
		</form>
</div>
