<div class="jumbotron">
	<img src="/assets/images/burgers.png">
	<h1 class="display-4">Burgers!</h1>
</div>
<div class="container">
	<h2>Add your burgers order to the list then...DEVOUR THEM!</h2>
	<h3 id="burger-list">Burger List </h3>
	<h3 id="devour-list">Devoured List</h3>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">			
			<div class="panel-panel default">
				<ul class="list-group">
					{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">							
							<p class="lead"> {{this.burger_name}}</p>
							<span class="input-group-btn">
								<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
									<input type="hidden" name="devoured" value="true">
									<button class="btn btn-default btn-lg" id="dvrbtn" type="submit"> Devour IT! </button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
					{{/each}}
				</ul>
			</div>
		</div>		
			<div class="col-md-4 col-md-offset-1">
				<div class="panel panel-default">
					<ul class="list-group">
						{{#each burgers}}
						{{#if this.devoured}}
						<li class="list-group-item">
							<p class="lead">{{this.burger_name}}</p>
						</li>
						{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
	</div>		
	<div class="row">	
		<div class="col-md-10">
			<form class="create-update-form" action="/burgers/create" method="POST">
				<div class="form-group">
					<textarea class="form-control input-lg" type="text" name="burger_name" value="" id="enter_text" rows="3"> </textarea>
				</div>
				<button class="btn btn-default btn-lg" type="submit">Submit</button>
			</form>
			{{!-- <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button> --}}
		</div>
	</div>
</div>

