body, .jumbotron {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}

.create-update-form {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .col-md-10, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

  /* .list-group-item {
    margin-left: 50%;
  } */

  .create-update-form {
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 10px;
  }

  .label, li, h1, h2, .form-group, body {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}